/* SCROLLBAR */

::-webkit-scrollbar {
    display: none;
} 

/* COMMON */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding-top: 0;
}

body {
    background: #000000;
    /* color: #00AEAB; */
    color: #ffffff;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* CARDS */

.card-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 90vw;
    /* width:max-content; */
    display: flex;
    margin-bottom: 30px;
    min-width: 315px;
    overflow: none;
}

.card {
    height: 40vh;
    flex: 0.5;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: flex .3s ease-in-out;
    overflow: auto;
}

.card.active {
    flex: 2;
}

.card h1 {
    display: none;
    transition-delay: .3s;
    transition: flex .3s ease-in-out;
    color: #000000;
    margin-top: 300px;
    margin-left: 20px;
} 

.card.active h1 {
    display: block;
}

video {
    cursor: pointer;
    border-radius: 50px;
    transition: flex .3s ease-in;
    flex: 0.5;
    min-width: 10px;
}

/* SITE NAME AND MESSAGE */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    /* background-color: bisque; */
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.world {
    color: #ffffff;
}

.soon {
    font-size: 40px;
}

/* SOCIAL ICONS */

.social-icons {
    position: relative;
    text-align: center;
    /* background-color: blue; */
}

.social-icons div {
    display: inline-block;
    margin: 10px;
}
.insta {
    height: 32px;
    width: 32px;
}

.youtube {
    height: 32px;
    width: 32px;
}

.apple_music {
    height: 32px;
    width: 32px;
}

.spotify {
    height: 32px;
    width: 32px;
}

.soundcloud {
    height: 32px;
    width: 32px;
}

.fbook {
    height: 32px;
    width: 32px;
}

.twitter {
    height: 32px;
    width: 32px;
}

.linkedin {
    height: 32px;
    width: 32px;
}